*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#000;
    color:white;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.container{
    width:100%;
    max-width:1200px;
}

.product-card{
    display:flex;
    gap:40px;
    background:#111;
    border:1px solid #2b1b00;
    border-radius:25px;
    padding:30px;
    flex-wrap:wrap;
}

.image-section{
    flex:1;
    min-width:300px;
}

.product-image{
    width:100%;
    border-radius:20px;
}

.content-section{
    flex:1;
    min-width:300px;
}

.price-box{
    display:flex;
    justify-content:space-between;
    background:#0f0f0f;
    border:1px solid #3a2a00;
    padding:25px;
    border-radius:20px;
    margin-bottom:20px;
}

.old-price span{
    color:#ccc;
    text-decoration:line-through;
    font-size:40px;
    font-weight:bold;
}

.new-price span{
    color:#f0c14b;
    font-size:40px;
    font-weight:bold;
}

.quantity-box,
.total-box{
    background:#0f0f0f;
    border:1px solid #3a2a00;
    padding:20px;
    border-radius:20px;
    margin-bottom:20px;
}

.buttons{
    display:flex;
    gap:10px;
    margin-top:15px;
}

.buttons button{
    width:60px;
    height:60px;
    border:none;
    border-radius:15px;
    background:#1a1a1a;
    color:white;
    font-size:20px;
    cursor:pointer;
    transition:0.3s;
}

.buttons button:hover{
    background:#f0c14b;
    color:black;
}

.total-box span{
    display:block;
    margin-top:10px;
    font-size:40px;
    color:#f0c14b;
    font-weight:bold;
}

.action-buttons{
    display:flex;
    gap:15px;
    margin-top:20px;
    flex-wrap:wrap;
}

.confirm-btn{
    flex:1;
    min-width:200px;
    background:#f0c14b;
    color:black;
    border:none;
    padding:20px;
    border-radius:20px;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
}

.whatsapp-btn{
    flex:1;
    min-width:200px;
    background:#16c043;
    color:white;
    text-decoration:none;
    padding:20px;
    border-radius:20px;
    font-size:22px;
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:12px;
    transition:0.3s;
}

.whatsapp-btn:hover{
    transform:scale(1.03);
}

.whatsapp-btn i{
    font-size:28px;
}

@media(max-width:768px){

    .product-card{
        flex-direction:column;
    }

    .price-box{
        flex-direction:column;
        gap:20px;
        text-align:center;
    }

    .action-buttons{
        flex-direction:column;
    }
}
